/* Typography */

$sansFontFamily:        "Helvetica Neue", Helvetica, Arial, 'Hiragino Sans GB', STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif !default;
$serifFontFamily:       Georgia, "Times New Roman", Times, serif !default;

$monoFontFamily:        Monaco, Menlo, Consolas, "Courier New", monospace !default;

$baseFontSize:          16px !default;
$baseFontFamily:        $sansFontFamily !default;
$baseLineHeight:        30px !default;
$altFontFamily:         $serifFontFamily !default;

$headingsFontFamily:    inherit !default; // empty to use BS default, $baseFontFamily
$headingsFontWeight:    bold !default;    // instead of browser default, bold
$headingsColor:         inherit !default; // empty to use BS default,

/* Colors */
$textColor:             #18161a;
$linkColor:             #da76bb;
$sidebarLinkColor: 		#c490cb;
$sidebarLinkHoverColor: #da76bb;
$asideColor: #756d80;
$siteNameColor: #d8ab36;

$sidebarBgColor: #341952;
$mainBgColor: #F3EEF0;

$postTitleColor: #443c79;
$hairLineColor: #DDD8CC;

/* Gutters */
$sideWidth: 80px;
$copyMaxWidth: 600px;
$asideWidth: 320px;
$asideGap: 40px;
