---
changefreq: weekly
priority: 0.7
---

<article class="post profile">

  <header>
    <h2 class="title">Terry Tai</h2>
  </header>

  <aside class="aside-block">
    <ul class="meta">
      <li class="author-photo">
        <a href="<%= data.author['terry'].link %>">
          <%= image_tag data.author['terry'].avatar %>
        </a>
      </li>
      <li class="author"><strong><%= data.author['terry'].name %></strong> <br> Software Engineer
      <br>Co-founder of Pragmatic.ly</li>
    </ul>
  </aside>

  <div class="content">

    <p>写代码为生, 并以此为乐.</p>
    <p>DJ at <a href="//teahour.fm">Teahour.fm</a> Podcast</p>
    <p>Co-founder of <a href="//pragmatic.ly">Pragmatic.ly</a></p>
    <p>Creator of <a href="//railscasts-china.com">Rails Casts China</a></p>

    <ul class="connect">
      <li><a href="//weibo.com/poshboytl"><i class="icon-weibo"></i></a></li>
      <li><a href="//twitter.com/poshboytl"><i class="icon-twitter"></i></a></li>
      <li><a href="//facebook.com/terry.tai.man"><i class="icon-facebook"></i></a></li>
      <li><a href="mailto:poshboytl@gmail.com"><i class="icon-envelope"></i></a></li>
    </ul>
  </div>
  
</article>

